body{
    font-family: 'Roboto', sans-serif;
}
.header{
    background-color: #1F2937;
    color: white;
    height: 72px;
    display: flex;
    padding-left: 200px;
    padding-right: 200px;
    justify-content: space-between;
    align-items: center;
}


.main{
    background-color: #1F2937;
    color: white;
    display: flex;
    padding-left: 200px;
    padding-right: 200px;
}

.images{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 270px;
    gap: 32px;
}

.images-container{
    display: flex;
    width: 500px;
    gap: 32px;
    justify-content: center;
}

.subtext {
    font-size: 16px;
    color: #E5E7EB;
    padding-bottom: 16px;
}

.offices{
    background-color: #E5E7EB;
    display: flex;
    flex-direction:column;
    align-items: center;
    height: 200px;
    gap: 60px;
    
}

.all-offices{
    display: flex;
    gap: 64px;

}

.subscription{
    display: flex;
    justify-content: space-between;
    padding-left: 200px;
    padding-right: 200px;
    align-items: center;
    
}

.text .subtext{
    color: #1F2937;
    width: 270px;
    font-size: 12px;
}

.input{
    display: flex;
    min-width:fit-content;
    justify-content: center;
    align-items: center;
    gap: 16px;
    height:fit-content;
    width: fit-content;
    border-radius: 10px;
    background-color:  #E5E7EB;
    padding: 6px 12px 6px 12px;
}


input[type=text]{
    color: #1F2937;
    font-style: italic;
    font-size: 14px;
    min-width: 200px;
    padding: 10px;
    border-radius: 10px;
    border: none;
    background-color: #E5E7EB;
    outline: none;
}



button {
    background-color: #3882F6;
    border-radius: 10px;
    font-weight: bold;
    color: white;
    padding: 8px;
    border: none;
    
}


.footer {
    background-color:  #1F2937;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60px;
    font-size: 16px;
    color:#E5E7EB;
    
}

ul {
    list-style-type: none;
    display: flex;
    gap: 16px
   

}

a{
    text-decoration: none;
    color: white;
}