body{
    font-family: 'Roboto', sans-serif;
}
.header{
    background-color: #1F2937;
    color: white;
    height: 72px;
    display: flex;
    padding-left: 200px;
    padding-right: 200px;
    justify-content: space-between;
    align-items: center;
}


.main{
    background-color: #1F2937;
    color: white;
    display: flex;
    padding-left: 200px;
    padding-right: 200px;
}

.images{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 270px;
}

.images-container{
    display: flex;
    width: 500px;
    gap: 32px;
    justify-content: center;
}

.subtext {
    font-size: 12px;
    color: #E5E7EB;
}

.quote-container{
    background-color: #E5E7EB;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 200px;
}

.quote{
    font-size: 30px;
    font-style:italic;
    width: 500px;
    text-align: center;
}

.quote-person{
    width: 500px;
    text-align: end;
}

button {
    background-color: #3882F6;
    border-radius: 10px;
    border: solid white;
    font-style: bold;
    color: white;
    width: 100px;
    padding: 10px;
    margin: 16px 0px 80px 0px;
    
}

.footer {
    display: flex;
    justify-content: center;
}

ul {
    list-style-type: none;
    display: flex;
    gap: 16px
   

}

a{
    text-decoration: none;
    color: white;
}