body{
    font-family: 'Hero text', sans-serif;
}
.header{
    background-color: #E5E7EB;
    color: #1F2937;
    height: 60px;
    display: flex;
    padding-left: 300px;
    padding-right: 300px;
    justify-content: space-between;
    align-items: center;
}

.logo{
    display: flex;
    justify-content: center;
    min-width: 140px;
}

.logo img{
    width: auto;
    height: 50px;
    object-fit: contain;
}

.logo-text{
    font-size: 16px;
    font-weight: 900;
    color: #1F2937
}


.main{
    background-image: url(../odin-landing-page/img/stocks.jpg);
    color: white;
    display: flex;
    padding-left: 300px;
    padding-right: 300px;
    justify-content: space-between;
}

.main img{
    display: flex;
    height: auto;
    width: 300px;
    height: 250px;
    object-fit: contain;
    margin: 30px;
    border: solid #E5E7EB;
    border-width: 10px;
}

.left-to-image{
    display: flex;
    flex-direction: column;
    width: 420px;
    min-width: 400px;
}

.images{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 270px;
    gap: 32px;
}

.images-container{
    display: flex;
    width: 500px;
    gap: 32px;
    justify-content: center;
}

.subtext {
    font-size: 16px;
    color: #E5E7EB;
    padding-bottom: 16px;
    text-align: justify;
}

.offices{
    background-color: #E5E7EB;
    display: flex;
    flex-direction:column;
    align-items: center;
    gap: 8px;
    flex-wrap: wrap;
    flex-shrink: 1;
}

.all-offices{
    display: flex;
    gap: 32px;
    margin: 16px;
}


.office-container{
    display: flex;
    flex-direction: column;
    width: 160px;
    justify-content: center;
    align-items: center;
    gap: 8px;
}

.office-container img{
    width: 200px;
    height: 100px;
    object-fit: contain;
}

.subscription{
    display: flex;
    justify-content: space-between;
    padding-left: 300px;
    padding-right: 300px;
    align-items: center;
    
}

.text .subtext{
    color: #1F2937;
    width: 270px;
    font-size: 12px;
}

.input{
    display: flex;
    min-width:fit-content;
    justify-content: center;
    align-items: center;
    gap: 16px;
    height:fit-content;
    width: fit-content;
    border-radius: 10px;
    background-color:  #E5E7EB;
    padding: 6px 12px 6px 12px;
}


input[type=text]{
    color: #1F2937;
    font-style: italic;
    font-size: 14px;
    min-width: 200px;
    padding: 10px;
    border-radius: 10px;
    border: none;
    background-color: #E5E7EB;
    outline: none;
}



button {
    background-color: #3882F6;
    border-radius: 10px;
    font-weight: bold;
    color: white;
    padding: 8px;
    border: none;
    
}


.footer {
    background-color:  #1F2937;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60px;
    font-size: 16px;
    color:#E5E7EB;
    
}

ul {
    list-style-type: none;
    display: flex;
    gap: 16px
   

}

a{
    text-decoration: none;
    color: #1F2937;
}